.container { display: flex; justify-content: center; align-items: center; height: 100vh; }
.container_loading {
    background-image: url(../../../img/loading-3.gif); background-position: center; border-radius: 100%;
    height: 20rem; width: 20rem;
}